body
{
    font-size: 22px

}
h1{
    top: 30px;
    position: sticky;
    background-color: gray;
}
.logo{

    /*width: 200px;*/
    /*height: 200px;*/
    position: fixed;
    left: 300px;
    top: 50px;
    filter: blur(32px);
    z-index: -1;
}